html, body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

.contact {
    /* height: 800px; */
    /* min-height: 800px; */
    background: #C8F7C5;
    padding-bottom: 160px;
}

#nav-bar{
    display: block;
    margin-right: 50px;
}

.flex-container {
    flex-direction: row;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro {
    top: 0;
    background: #e0ebe8;
    min-height: 55vh;
    padding-top: 45vh;
    /* line-height: 100vh; */
}

.work .work-header {
    margin-top: 50px;
    color: #008080;
    font-weight: normal;
}

.projects {
    text-decoration: none;
    color: #008080;
    display: inline-block;
    overflow: hidden;
    /*border: 2px solid lightblue;*/
    height: 220px;
    width: 280px;
    margin: 40px 100px;
    /* background: url(https://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg) repeat; */
}

.projects-pic {
    width: 100%;
    height: 180px;
    /*border-bottom: 2px solid lightblue;*/
}

.projects-title {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  body {
    background-color: #EDEAE9;
    color: white;
  }
}